body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f0ff;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 28px;
  color: #6b2c91;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin-bottom: 15px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a {
  display: block;
  padding: 15px;
  color: #8a4db5;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
a:hover {
  background-color: #8a4db5;
  color: #fff;
}
section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilos generales para el formulario */
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los campos de entrada */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el botón de enviar */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el cursor */
button:hover {
  background-color: #0056b3;
}

/* Estilos para el botón de enviar al hacer clic */
button:active {
  background-color: #004599;
}

/* Estilos para el resultado */
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}
